    <!--<form action='/' method='POST'>
      <p>
      Your Idea:
      </p>
      <input type='text' name='idea[title]'/><br/>
      <textarea name='idea[description]'></textarea><br/>
      <input type='submit'/>
    </form> -->
    <!-- <center><h1>IdeaBox</h1></center> -->
<div class = "container">
        
        <div class = "row">
            
            <div class = "col-md-3">
                
                <h3><a href = "#">WHAT'S YOUR IDEA</a></h3>
                <p>This part of the text tells you what an idea is.  Its dreamed up in your head then given to your brain so that you can send it to your mouth so you can say it outloud.  Once you say it outloud you can send it your hands so they can write it down</p>
        <a href = "#" class = "btn btn-default">Read More</a>
                
            </div>
            
            <div class = "col-md-3">
                
                <h3><a href = "#">WRITE IT DOWN</a></h3>
                <p>This part of the text tells you what an idea is.  Its dreamed up in your head then given to your brain so that you can send it to your mouth so you can say it outloud.  Once you say it outloud you can send it your hands so they can write it down</p>
        <a href = "#" class = "btn btn-default">Read More</a>
                
            </div>
            
            <div class = "col-md-3">
                
                <h3><a href = "#">SUBMIT YOUR IDEA</a></h3>
                <p>This part of the text tells you what an idea is.  Its dreamed up in your head then given to your brain so that you can send it to your mouth so you can say it outloud.  Once you say it outloud you can send it your hands so they can write it down</p>
        <a href = "#" class = "btn btn-default">Read More</a>
                
            </div>
            
            <div class = "col-md-3">
                
                <h3><a href = "#">CHECK BACK</a></h3>
                <p>This part of the text tells you what an idea is.  Its dreamed up in your head then given to your brain so that you can send it to your mouth so you can say it outloud.  Once you say it outloud you can send it your hands so they can write it down</p>
        <a href = "#" class = "btn btn-default">Read More</a>
                
            </div>
            
        </div>
        
</div>
  


  <div class="container-fluid" id="gridInContainer">    
    <h3>Existing Ideas</h3>
      <div class ="row">
          <ul class="ideas">
            <% ideas.each_with_index do |idea, id| %>
              <li class="panel panel-default idea" >
                <h5>Title: <%= idea.title[0..15] %></h5>
                <p>Idea: <%= idea.description[0..30] %></p>
                <p>Tags: <%= idea.tag %></p>
                <a href="/<%= id %>/edit">Edit</a>
                <form action="/<%= id %>" method="POST">
                  <input type="hidden" name="_method" value="DELETE">
                  <input type="submit" value="delete"/>
                </form>
              </li>
            <% end %>
          </ul>
      </div>
  </div> 
